.markdown-body blockquote {
  padding: 0 1em !important ;
  color: #777 !important ;
  border-left: 0.25em solid #ddd !important ;
}
.markdown-body a {
color: #337ab7 !important ;
text-decoration: underline !important ;
}
.markdown-body a:hover,
a:focus {
color: #23527c !important ;
}
.markdown-body a:focus {
outline: 5px auto -webkit-focus-ring-color !important ;
outline-offset: -2px !important ;
}
.markdown-body .alert{
  padding: 10px !important ;
  margin: 10px auto !important ;
}
.markdown-body b{
  font-weight: 700 !important ;
}
.markdown-body dt{
  margin-top: 1em !important ;
}
.markdown-body dt:first-child{
  margin-top: 0 !important ;
}
.markdown-body dd{
  margin-left: 1.25em !important ;
  margin-bottom: 0 !important ;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #657697 !important ;
  margin-top: 24px !important ;
  margin-bottom: 8px !important ;
  font-weight: 600 !important ;
  line-height: 1.25 !important ;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #000 !important ;
  vertical-align: middle !important ;
  visibility: hidden !important ;
  border-bottom: 1px solid #eee !important ;
}
.markdown-body h1 {
  font-size: 2em !important ;
}
.markdown-body h2 {
  text-align: left !important ;
  font-size: 1.5em !important ;
  width: 100% !important ;
  font-weight: bold !important ;
  font-variant: small-caps !important ;
}
.markdown-body h3 {
  font-size: 1.25em !important ;
}
.markdown-body h4 {
  display: initial !important ;
  font-size: 1em !important ;
}
.markdown-body h5 {
  font-size: 0.875em !important ;
}
.markdown-body h6 {
  font-size: 0.85em !important ;
  color: #777
}
.markdown-body ul{
  list-style-type: disc !important ;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em
}
.markdown-body code,
.markdown-body tt {
  padding: 0 !important ;
  padding-top: 0.2em !important ;
  padding-bottom: 0.2em !important ;
  margin: 0 !important ;
  font-size: 85% !important ;
  background-color: rgba(0, 0, 0, 0.04) !important ;
  border-radius: 3px !important ;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important ;
}
.markdown-body code::before,
.markdown-body code::after,
.markdown-body tt::before,
.markdown-body tt::after {
  letter-spacing: -0.2em !important ;
  content: "\A0" !important ;
}
.markdown-body code br,
.markdown-body tt br {
  display: none !important ;
}
.markdown-body del code {
  text-decoration: inherit !important ;
}
.markdown-body pre {
  word-wrap: normal !important ;
}
.markdown-body pre>code {
  padding: 0 !important ;
  margin: 0 !important ;
  font-size: 100% !important ;
  word-break: normal !important ;
  white-space: pre !important ;
  background: transparent !important ;
  border: 0 !important ;
}
.markdown-body .highlight {
  margin-bottom: 16px !important ;
}
.markdown-body .highlight pre {
  word-break: normal !important ;
}
.markdown-body .highlight pre,
.markdown-body pre {
  margin: 0 0 10px 0 !important ;
  padding: 16px !important ;
  overflow: auto !important ;
  font-size: 85% !important ;
  line-height: 1.45 !important ;
  border-radius: 3px !important ;
}
.markdown-body pre code,
.markdown-body pre tt {
  display: inline !important ;
  max-width: auto !important ;
  padding: 0 !important ;
  margin: 0 !important ;
  overflow: visible !important ;
  line-height: inherit !important ;
  word-wrap: normal !important ;
  background-color: transparent !important ;
  border: 0 !important ;
}
.markdown-body pre code::before,
.markdown-body pre code::after,
.markdown-body pre tt::before,
.markdown-body pre tt::after {
  content: normal !important ;
}
.markdown-body{
  font-family: 'Noto Sans TC', sans-serif !important ;
}
.markdown-body h1, h2, h3, h4, h5, h6{
font-family: cwTeXFangSong, sans-serif !important ;
}
.markdown-body h1{
  text-align: center
}
.markdown-body h4{
  color: #666
}
.markdown-body blockquote{
  font-size: 15px
}
.markdown-body table{
  display: table !important ;
}
#cases tr td{
  border-width: 0 !important ;
}
#cases thead tr th{   
  border-width: 0 !important ;
  text-align: center !important ;
}
.markdown-body img{
  border: 1px solid #ddd !important ;
  text-align:center !important ;
  box-sizing: content-box !important ;
  position: relative !important ;
  display: block !important ;
  margin: 10px auto !important ;
max-width: 90% !important ;
}
table img{
  margin:0 !important ;
  padding: 0 !important ;
}
.list_wrapper ol{
  list-style-type: lower-roman !important ;
}
table{
font-size: 14px !important ;
}
.p-alert {
  font-size: 20px !important ;
  color: red !important ;
}
article.inpage p {
  font-size: 19px !important ;
  margin: 10px 0 !important ;
  word-break: normal !important ;
}


.alert p{
  margin: 0 !important ;
}

.hljs-ln-n{
  padding-right: .4rem !important ;
  margin-right: .7rem !important ;
  border-right: 3px solid !important ;
}

.markdown-body{
  max-width: min(1100px, max(940px, 60%)) !important ;
}
#md-con{
  position: relative !important ;
}
#sp-2{
  position: relative !important ;
}

#toc{
  padding-top: 2rem !important ;
  margin-right: 2rem !important ;
}