---
import '../styles/markdown.css'
import Layout from '../layouts/Layout.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <div class="markdown-body container flex-grow-1">
    <div class='row m-3'>
      <div class='col-12'>
        <slot></slot>
      </div>
    </div>
  </div>
</Layout>